body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faf7f0;
}
.container {
  max-width: 600px;
  background: linear-gradient(#cdfcf6, #bccef8);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
h1 {
  text-align: center;
  padding: 30px;
  margin-bottom: 0px;
}
h2 {
  text-align: left;
  padding: 0 35px;
}
hr {
  max-width: 550px;
}
p {
  text-align: left;
  padding: 20px;
}
form {
  padding: 20px;
  text-align: center;
}
.button {
  background-color: #98a8f8;
  border-style: none;
  border-radius: 5px;
  padding: 10px 20px;
}
